

html {
    font-size: 65.05%;
}

body {
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

    font-size: 1.6rem;
    line-height: 1.5;

    color: #161c2d;

}

/* Root */

:root {
    --moreColor: #F7D22D;
    --blackColor: #161c2d;
    --font: 2.4rem
}



*,
*::before,
*::after {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}

li,ol,ul {
    list-style: none;
}


/* Header */

.header {
    background-color: white;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 100000;

}


.header__row {
    align-items: center;
    height: 80px;
}

/* Address */

.address {
    margin-bottom: 0;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
}

.address span {
    font-weight: normal;
    color: var(--moreColor);
}

/* Delivery */

.delivery {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: bold;
}

/* Button */

.button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.call_btn {
    display: inline-block;

    border: none;
    border-radius: 28px;
    background-color: #F3F3F7;

    padding: 7px 27px;

    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: bold;    
    color: #696F7A;

}

.call_btn:hover {
    color: #878788;
}

.tel_link {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.6rem;
    font-weight: bold;

    color: var(--moreColor);

    margin-left: 2.8rem;

    text-decoration: none;
}

.tel_link:hover {
    color: var(--moreColor);
    text-decoration: underline;
}


.nav_btn {
    padding: 7px 18px;

    border: none;
    border-radius: 8px;

    color: var(--blackColor);

    font-weight: bold;

    background-color: var(--moreColor);

    
}




/* Slider */


.slider {
    padding-top: 150px;
   
}

.offer__slider {
    position: relative;

}


svg {
    padding: 5px;
  }
  
  .arrow {
    cursor: pointer;

    position: absolute;
    top: 50%;
    margin-top: -45px;
    margin-left: -35px;
    width: 70px;
    height: 90px;
    z-index: 30;

    background-color: transparent;
    border: none;
  }
  
  .left {
    left: -5%;
  }
  
  .right {
    right: -10%;
  }
  
  .left:hover polyline,
  .left:focus polyline {
    stroke-width: 3;
  }
  
  .left:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
  }
  
  .right:hover polyline,
  .right:focus polyline {
    stroke-width: 3;
  }
  
  .right:active polyline {
    stroke-width: 6;
    transition: all 100ms ease-in-out;
  }
  
  polyline {
    transition: all 250ms ease-in-out;
  }


  /* New */




  .section__title {
    font-family: 'Montserrat', sans-serif;
    font-size: var(--font);
    font-weight: bold;


    margin-bottom: 3.3rem;
    margin-top: 7.2rem;
  }

  .block_flex {
      display: flex;
      align-items: center;

      padding: 29px 25px;

      box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.06);
      border-radius: 12px;

      margin-bottom: 10px;
  }

  .text {
      margin-left: 25px;
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
      font-size: 18px;
  }

  .text span {
      color: var(--moreColor);
  }


  /* Pasta */


  .section__title--pasta {
      color: var(--moreColor);
  }